/* CSS Document */
@media (min-width: 480px) {

.table_custom_1 td:before {
    display: none;
}

.table_custom_1 th:first-child, .table_custom_1 td:first-child {
    padding-left: 15px;
}

.table_custom_1 th:last-child, .table_custom_1 td:last-child {
    padding-right: 0;
}
}

@media (max-width:600px) {

.content-area-footer {
    padding: 5px 10px;
}

.nav-tabs {
    padding-left: 2px;
    padding-right: 2px;
}

.detail-bar ul {
    border-left: none;
}

.table_custom_1 tr, .table_custom_1 td {
    display: block;
}

.table_custom_1 tbody tr td:first-child {
    color: #217589;
    font-size: 16px;
}

.table_custom_1 thead {
    display: none;
}

.checkbox_table thead {
    display: block !important;
}

.table_custom_1 input[type='text'] {
    width: 100%;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

body {
    background-color: #f8f8f8;
    height: auto;
    min-height: 100%;
}

* {
    font-size: 100%;
}

.nav-tabs-responsive > li {
    display: none;
    width: 23%;
}

.nav-tabs-responsive > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    text-align: center;
    vertical-align: top;
    padding: 6px 15px !important;
}

.nav-tabs-responsive > li.active {
    width: 54%;
}

.nav-tabs-responsive > li.active:first-child {
    margin-left: 23%;
}

.nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    display: block;
}

.nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
    -webkit-transition: none;
    transition: none;
}

.nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
    display: none;
}

.nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-tabs-responsive > li.prev > a:after {
    content: "\e079";
}

.nav-tabs-responsive > li.next > a:after {
    content: "\e080";
}

.nav-tabs-responsive > li.dropdown > a > .caret {
    display: none;
}

.nav-tabs-responsive > li.dropdown > a:after {
    content: "\e114";
}

.nav-tabs-responsive > li.dropdown.active > a:after {
    display: none;
}

.nav-tabs-responsive > li.dropdown.active > a > .caret {
    display: inline-block;
}

.nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0;
    right: auto;
}

.nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -36%;
}

.border_right_hidden, .border_left_hidden {
    border: none !important;
}

.border_bottom {
    border-left: 1px solid #DBDBDB !important;
}

.table_custom_1 input[type="radio"], input[type="checkbox"] {
    position: absolute;
}
}

@media (max-width: 700px) {

.table_custom_1 th, .table_custom_1 td {
    display: inherit;
}
.table_custom_1 thead{
    display:none;
}

.table_custom_1 td:before {
    content: attr(data-th) ": ";
    width: 100px;
    display: inline-block;
    color: #b7b7b7;
}

.table_custom_1 {
    border: 0px;
}

.table_custom_1 tr {
    background-color: #fff;
    border: 1px solid #eee;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 1px 5px -3px rgb(164, 164, 164);
}

.table_custom_1 tr td {
    padding: 5px 10px !important;
}

.table_custom_1 tr td .btn{
       margin-top: -3px;
}
.table_custom_1 tbody tr td:first-child:before {
    padding-left: 0;
    content: '';
    width: 0;
}

.table_custom_1 tbody tr td:first-child {
    font-family: OpenSans-Semibold;
    color: #217589;
    font-size: 16px;
}

.table_custom_1.checkbox_table thead tr th:first-child {
    display: block;
}

.table_custom_1.checkbox_table thead tr th {
    display: none;
}

.checkbox_table thead {
    display: block !important;
}
.table_accordion{
border-left:0px;
}
tr.hiddenRow  td.no-padding{
    padding:0px !important;
}

.table_accordion .table_custom_1 tr td{
background-color:#F5F5F5;
}

.table_custom_2 tbody tr td:first-child{
    display:none;
}
#collapse_table .input-group .btn{
margin-top: 0;
}
}
@media (min-width: 768px) {

.well_detail_list .list div {
    padding-right: 0px;
    padding-left: 0px;
}
.scan_input_container {
    padding: 11px 70px !important;
}
}

@media (max-width: 769px) {

.alert {
    padding: 6px 10px;
}

.content-area-footer {
    padding: 10px 15px;
}

.navbar-nav {
    margin: 0;
    float: right;
}

.navbar-nav > li {
    float: left;
}

.navbar-header {
    float: left;
}
.navbar-default .navbar-nav > li{
    padding: 0;
}

.dropdown-menu-right {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
    padding: 5px 0 !important;
    position: absolute !important;
}

.left-menu-toggle {
    display: block !important;
}

#sidebar-wrapper {
    width: 250px;
    left: -250px;
    -webkit-transition: left 0.3s, -webkit-transform 2s;
    transition: left 0.3s, transform 2s;
}

#sidebar-wrapper.collapsed {
    box-shadow: -5px -5px 18px #575757;
    -webkit-transition: left 0.3s, -webkit-transform 2s;
    transition: left 0.3s, transform 2s;
    left: 0;
}

.sidebar-nav {
    padding-top: 64px;
}

.sidebar-nav li a {
    font-size: 14px;
    padding: 12px 15px;
}

.sidebar-nav li a i.icon-pright {
    font-size: 10px;
    top: 17px;
}

.sidebar-nav li ul li a {
    padding: 12px 12px 12px 42px;
}

.content-wrapper {
    padding-top: 62px;
}

.logo {
    width: 46px;
}

.logo_wrapper .left-menu-toggle {
    font-size: 24px;
    padding: 5px 12px;
    top: 2px;
}

.navbar .navbar-top-links > li > a {
    font-size: 14px;
    padding: 21px 15px;
}

.sidebar-nav li a i:first-child {
    font-size: 21px;
}

.content-area {
    border-radius: 5px;
    margin-left: 0px;
    padding: 0 !important;
    transition: all 0.3s ease 0s;
}

.content-area.full {
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.3s ease 0s;
}

.row {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    font-size: 0;
}

.user_menu {
    float: right;
}

.mobile-only {
    visibility: visible;
    display: block;
}

.desktop-only {
    visibility: hidden;
    display: none;
}

.grey_background.visible {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 23px;
    height: 42px;
    margin-top: -7px;
    font-size: 17px;
    background-color: #E5E5E5;
    border: medium none;
    border-radius: 1px;
    color: #999;
    padding: 12px 0px 2px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -26px;
}

.box_text_margin_left {
    margin-left: 0px;
}

.detail_margin {
    margin-left: -10px;
}

.product_detail_txt {
    margin-top: 166px;
}

.border_right_hidden, .border_left_hidden {
    border: none !important;
}

.border_bottom {
    border-left: 1px solid #DBDBDB !important;
}

.well_detail_list ul li:nth-child(2) {
    border-left: none;
}

.well_detail_list ul li {
    float: left;
    padding-right: 39px !important;
    padding-left: 0;
}

.well_detail_list dl {
    margin-bottom: 10px;
}
}

@media (max-width:991px) {

.well_detail_list dl {
    margin-bottom: 10px;
}

}

@media only screen and (max-width: 1199px) {

.border_right_hidden, .border_left_hidden {
    border: none !important;
}

.border_bottom {
    border-left: 1px solid #DBDBDB;
}

.well_detail_list ul li + hr + li {
    border-left: 0;
    padding-left: 0;
}

.well_detail_list .list_title {
    border-right: 0px;
    float: left;
    padding-right: 0px;
}

}

@media (min-width: 1200px) {

.well_detail_list .list_title {
    border-right: 1px solid #CFCFCF;
    float: left;
    padding-right: 15px;
}

.well_detail_list .list div {
    padding-right: 15px;
    padding-left: 15px;
}

}

@media (max-width: 1280px) {
    .qc-page-footer label{
    display: none;
}
}

@media print {

.content-area-footer, footer {
    display: none;
}

.menu_visible .content-area {
    padding-left: 0 !important;
}

#sidebar-wrapper {
    display: none;
}

@page {
    margin: 0;
    margin-right: 50px;
    padding-left: 0;
    margin-left: -20%;
    size: 10in 8.5in;
    size: portrait;
}

body {
    width: 100% !important;
}

.table_custom_1 thead tr th {
    background: #f2f2f2 !important;
    -webkit-print-color-adjust: exact;
}

a[href]:after {
    content: none !important;
}

.col-xs-6 {
    width: 33.33333333%;
}
}