<div >
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{'LABEL_TEXT.EDIT_PROD_AVAIL' | translate}}</h4>
            </div>
            <div class="modal-body ">
                <div class="row details_row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <dl>
                            <dt>{{'LABEL_TEXT.PROD' | translate}}</dt>
                            <dd>{{parsedRow.product_number}}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <dl>
                            <dt>{{'LABEL_TEXT.CHANNEL' | translate}}</dt>
                            <dd>{{parsedRow.channel}}</dd>
                        </dl>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>{{'LABEL_TEXT.SET_AVAIL' | translate}}</label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions"  value="true" ng-model="actInact">
                                    {{'LABEL_TEXT.ACTIVE' | translate}} </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions"  value="false" ng-model="actInact">
                                    {{'LABEL_TEXT.INACTIVE' | translate}} </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default  pull-left" ng-click="$dismiss()">{{'INPUT_TEXT.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-primary  pull-right pull-xs-left" ng-disabled="actInact == disable" ng-click="$close({active: actInact})">{{'INPUT_TEXT.SAVE_CHANGE' | translate}}</button>
            </div>
        </div>
    </div>
</div>