<section>
  <nav class="header">
    <div data-ng-controller="NavbarCtrl" data-ng-include="'components/navBar/navBar.html'"></div>
  </nav>
  <div class="content-wrapper menu_visible">
    <div data-ng-include="'components/leftMenu/leftMenu.html'"></div>
    <div class="content-area">
      <div class="title_bar">
        <ol class="breadcrumb">
          <li><a ng-href="/rules">{{'BRD_CM.RULEPAGE.RULE' | translate}}</a></li>
          <li class="active">{{'BRD_CM.RULEPAGE.UPDATE' | translate}}</li>
        </ol>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="alert alert-danger text-left" ng-show="vm.errorMsg">
            <button ng-click="vm.errorMsg = ''" class="close">&times;</button>
            <b>{{'ALERT_MSG.ERROR_HEAD' | translate}}</b>&nbsp; {{vm.errorMsg | translate}}
          </div>
          <div class="alert alert-success text-left" ng-show="vm.successMsg">
            <button ng-click="vm.successMsg = ''" class="close">&times;</button>
            <b>{{'ALERT_MSG.SUCC_HEAD' | translate}}</b>&nbsp;{{'SUCC_MSG.RULE_UPDATE_SUCCESS' | translate}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="progress_bar">
              <hr class="all_steps">
              <hr class="current_steps">
              <div class="step current" id="step1" data-step="1">
                {{'LABEL_TEXT.ACTIVITY' | translate}}
              </div>
              <div class="step" id="step2" data-step="2">
                {{'LABEL_TEXT.INPUT_CONTROLS' | translate}}
              </div>
              <div class="step" id="step3" data-step="3">
                {{'LABEL_TEXT.EXPRESSION' | translate}}
              </div>
              <div class="step" id="step4" data-step="4">
                {{'LABEL_TEXT.ACTIONS' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div ng-include="'app/Rule/create/createRulePage3.html'" ng-show="vm.currentStep == 3"></div>
        <div ng-include="'app/Rule/create/createRulePage4.html'" ng-show="vm.currentStep == 4"></div>

      </div>
    </div>
  </div>
</section>
