<section>
  <nav class="header">
    <div data-ng-controller="NavbarCtrl" data-ng-include="'components/navBar/navBar.html'"></div>
  </nav>
  <div class="content-wrapper menu_visible">
    <div data-ng-include="'components/leftMenu/leftMenu.html'"></div>
    <div class="content-area">
      <ol class="breadcrumb">
        <li ng-class="{active: page == 'create'}" ng-if="(page === 'create') || (page === 'addProduct') || (page === 'summary')"><a ng-click="addAsnNum()">{{'BRD_CM.3.1' | translate}}</a></li>
        <li ng-class="{active: page == 'addProduct'}" ng-if="(page === 'addProduct' ) || (page === 'summary' )"><a ng-click="addProducts()">{{'BRD_CM.3.2' | translate}}</a></li>
        <li ng-class="{active: page == 'summary'}" ng-if="(page === 'summary')"><a>{{'BRD_CM.3.3' | translate}}</a></li>
      </ol>
      <div class="container-fluid">
        <div class="row">
          <h4 class="page_title" ng-if="(page === 'create')">{{'BRD_CM.3.1' | translate}}</h4>
          <h4 class="page_title" ng-if="(page === 'addProduct')">{{'BRD_CM.3.2' | translate}}</h4>
          <h4 class="page_title" ng-if="(page === 'summary')">{{'BRD_CM.3.3' | translate}}</h4>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <div class="alert alert-danger text-left" ng-show="error">
                <button ng-click="error = !error" class="close">&times;</button>
                <b>{{'ALERT_MSG.ERROR_HEAD' | translate}}</b>&nbsp;{{errMsg | translate}}
                <span ng-if="!isQuantity">{{errRow}}</span>
              </div>
              <div class="alert alert-info text-left" ng-show="info">
                <button ng-click="info = !info" class="close">&times;</button>
                <b>{{'ALERT_MSG.INFO_HEAD' | translate}}</b>&nbsp;{{'INFO_MSG.IMSG2' | translate}}
              </div>
              <div class="alert alert-success text-left" ng-show="success">
                <button ng-click="success = !success" class="close">&times;</button>
                <b>{{'ALERT_MSG.SUCC_HEAD' | translate}}</b>&nbsp;
                <a class="alert-link" href="procurement/batch/{{batchNumber}}">{{batchNumber}}</a>{{'SUCC_MSG.MSG1' | translate}}
              </div>
            </div>
          </div>
        </div>
        <!-- Enter ASN number Screen -->
        <div class="row" ng-show="page === 'create'">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-32">
            <p class="txt-12">
              {{'PAGE_CONTENT.1.HEAD1' | translate}}
              <br> {{'PAGE_CONTENT.1.HEAD1_SUB1' | translate}}
              <br> {{'PAGE_CONTENT.1.HEAD1_SUB2' | translate}}
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
            <form class="" ng-submit="asnList(pageNo)">
              <div class="form-group" name="asnNumber">
                <input type="text" class="form-control" placeholder="{{'INPUT_TEXT.ENTER_TEXT1' | translate}}" ng-model="asnNumber" focus-if>
              </div>
              <div class="form-group">
                <button ng-disabled="!asnNumber" class="btn btn-primary">{{'INPUT_TEXT.SEARCH' | translate}}
              </div>
            </form>
          </div>
        </div>
        <div class="search_result" ng-if="asnSearchList.results &&(page ==='create')">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left pull-xs-left">
              <p class="table_top_text">{{'PAGE_CONTENT.1.SUB_TITLE' | translate}}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right pull-xs-left" ng-if="asnSearchList.results.length > 0">
              <nav class="text-right">
                <ul class="pager">
                  <li class="text">
                    <strong>{{(startCount+1) + " - "}}{{lastCount}}</strong> of {{totalCount}} results
                  </li>
                  <li>
                    <a ng-class="{anchorDisabled : (pageNo < 2)}" ng-click="asnList(pageNo-1)" ng-model="pre">
                      <i class="icon-previous"></i>
                    </a>
                  </li>
                  <li>
                    <a ng-class="{anchorDisabled : (lastCount === totalCount)}" ng-click="asnList(pageNo+1)" href="#">
                    <i class="icon-next"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table class="table_custom_1">
                <thead>
                  <tr>
                    <th width="24px"></th>
                    <th>{{'LABEL_TEXT.TEXT1' | translate}}</th>
                    <th>{{'LABEL_TEXT.CLIENT_STORE' | translate}}</th>
                    <th>{{'LABEL_TEXT.SUPPLIER_STORE' | translate}}</th>
                    <th>{{'LABEL_TEXT.STATUS' | translate}}</th>
                    <th>{{'LABEL_TEXT.CRE_ON' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in asnSearchList.results">
                    <td>
                      <input name="radioBox" type="radio" ng-model="radioValue.asndetail" value="{{row}}
                      ">
                    </td>
                  <td data-th="{{'LABEL_TEXT.TEXT1' | translate}}">{{row.source_number}}</a>
                </td>
                <td data-th="{{'LABEL_TEXT.CLIENT_STORE' | translate}}">{{row.client_store_name}}</td>
                <td data-th="{{'LABEL_TEXT.SUPPLIER_STORE' | translate}}">{{row.supplier_store_name}}</td>
                <td data-th="{{'LABEL_TEXT.STATUS' | translate}}">{{'STATUS.'+row.status | translate}}</td>
                <td data-th="{{'LABEL_TEXT.CRE_ON' | translate}}">{{row.created_at | date : 'yyyy-MM-dd'}}&nbsp;{{row.created_at | date : 'hh:mm:ss'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <br>
      </div>
      <br>
      <br>
      <br>
    </div>
    <!-- Enter ASN number Screen end -->
    <div class="row create_page" ng-if="page !== 'create'">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="page_heading">{{getDetail.source_number}} </p>
          </div>
        </div>
        <div class="row details_row">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <dl>
              <dt>{{'LABEL_TEXT.TEXT1' | translate}} {{'LABEL_TEXT.STATUS2' | translate}}</dt>
              <dd>{{'STATUS.'+getDetail.status | translate}}</dd>
            </dl>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <dl>
              <dt>{{'LABEL_TEXT.CLIENT_STORE' | translate}}</dt>
              <dd>{{management_lookup.client_store_name ? management_lookup.client_store_name : '-'}}</dd>
            </dl>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <dl>
              <dt>{{'LABEL_TEXT.SUPPLIER_STORE' | translate}}</dt>
              <dd>{{management_lookup.supplier_store_name ? management_lookup.supplier_store_name : '-'}}</dd>
            </dl>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
            <dl>
              <dt>{{'LABEL_TEXT.VENDOR' | translate}}</dt>
              <dd>{{getDetail.vendor_name ? getDetail.vendor_name : '-'}}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="container-fluid" ng-if=" page !== 'summary' && getDetail !== ''">
        <div class="row">
          <ng-form class="m-t-32" name="addProduct" novalidate="novalidate">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group addProduct">
              <tags-input on-tag-added="setValue($tag, 'product')" on-tag-removed="removeTag($tag, 'product')" max-tags="1" ng-required="true" add-from-autocomplete-only="true" ng-model="product.value" display-property="name" key-property="sk" placeholder="{{'INPUT_TEXT.PROD_SKU' | translate}}"
              autofocus>
            <auto-complete source="getAutocompleteData($query, 'product')"></auto-complete>
            </tags-input>
            <span class="help-block text-left text-error" ng-show="norecord">{{'NO_RECORD' | translate}}</span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="text" valid-number ng-model="product.qt" class="form-control" placeholder="{{'LABEL_TEXT.QT' | translate}}" required/>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="form-group">
            <button ng-disabled="addProduct.$invalid || product.qt < 1" class="btn btn-secondary " ng-click="createProductList()">{{'INPUT_TEXT.ADD_PROD' | translate}}
            </button>
          </div>
        </div>
        </ng-form>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <nav class="text-right">
            <ul class="pager">
              <li class="text">
                <span>{{products.length}} {{productText | translate}}</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table_custom_1">
            <thead>
              <tr>
                <th>{{'LABEL_TEXT.PROD' | translate}}</th>
                <th>{{'LABEL_TEXT.SKU' | translate}}</th>
                <th>{{'LABEL_TEXT.QT' | translate}}</th>
                <th ng-if="page !== 'summary'"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="" ng-repeat="prod in products">
                <td>{{prod.name}}</td>
                <td data-th="{{'LABEL_TEXT.SKU' | translate}}">{{prod.prod_number}}</td>
                <td data-th="{{'LABEL_TEXT.QT' | translate}}" ng-init="edit[$index] = false"><span ng-show="(page === 'summary')">{{prod.quantity}}</span><span ng-show="(page !== 'summary')"><input type="text" valid-number ng-change="onQuanChange(prod)" autocomplete="off" ng-model="prod.quantity" name="quantity" class="form-control width120 inline" placeholder="{{'LABEL_TEXT.QT' | translate}}"></span></td>
                <td data-th="Actions" ng-if="page !== 'summary'"><a ng-click="removeProduct(prod, $index)" class="table_icon"><i class="icon-delete"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="content-area-footer" ng-if="page == 'create'">
    <button type="submit" ng-disabled='!radioValue.asndetail' class="btn btn-red pull-right" ng-click="addProducts()">{{'INPUT_TEXT.ADD_PRODS' | translate}}
    </button>
  </div>
  <div class="content-area-footer" ng-if="page !== 'create'">
    <button class="btn btn-secondary  pull-left" ng-if="page === 'addProduct'" type="button" ng-click="refreshPage()">{{'INPUT_TEXT.CANCEL' | translate}}
    </button>
    <button class="btn btn-secondary  pull-left" ng-if="page === 'summary'" type="button" ng-click="back()">{{'INPUT_TEXT.BACK_ADD_PROD' | translate}}
    </button>
    <button type="button" ng-disabled="!products.length>0 || !isQuantity" ng-if="page === 'addProduct'" class="btn btn-red pull-right" ng-click="summary()">{{'INPUT_TEXT.NEXT' | translate}}
    </button>
    <button type="button" ng-disabled="!products.length>0" ng-if="page === 'summary'" class="btn btn-red pull-right" ng-click="createBatch()">{{'INPUT_TEXT.CRE_TEXT2' | translate}}
    </button>
  </div>
</div>
</div>
</div>
</section>