<section>
  <div class="content-wrapper">
    <div class="content-area">
      <br>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="card login_wrapper">
              <div class="lang">
                <div data-ng-controller="LanguageCtrl" data-ng-include="'components/language/language.html'"></div>
              </div>
              <div>
                <img class="login_logo" src="assets/images/logo_white_on_red.png" alt="" />
                <h4 class="login_title text-uppercase">{{'H1'| translate}}<br>
                <span class="login_subtitle">{{'LABEL_TEXT.OPERATIONS' | translate}}</span>
                </h4>
                <br>
              </div>
              <div>
                <h4 class="godam_title_secondary">
                <span ng-if="!vm.showSuccessMessage">{{'PAGE_CONTENT.F_PASS_PAGE.HEAD1' | translate}}<br>{{'PAGE_CONTENT.F_PASS_PAGE.HEAD2' | translate}}</span>
                <span ng-if="vm.showSuccessMessage">
                  <span>{{'PAGE_CONTENT.F_PASS_PAGE.MAIL_SENT' | translate}}</span>
                  <br>
                  <a href="/login" class="link-sm">{{'LABEL_TEXT.CLICK_LOGIN_TEXT' | translate}}</a>
                </span>
                </h4>
                <br>
              </div>
              <form class="login-form" name="password_recover_form" ng-if="!vm.showSuccessMessage" ng-submit="vm.recover(password_recover_form)">
                <div class="alert alert-danger text" ng-show="vm.showErrorMessage">
                  <button ng-click="vm.showErrorMessage = !vm.showErrorMessage" class="close" type="button">&times;</button>
                  <b>{{'ALERT_MSG.ERROR_HEAD' | translate}}</b>&nbsp;{{vm.errormessage | translate}}
                </div>
                <div class="form-group">
                  <input autocomplete="off" placeholder="{{'INPUT_TEXT.ENTER_EMAIL' | translate}}" type="email" name="emailId" id="emailId" class="form-control" ng-model="user_email" ng-maxlength="100" ng-pattern="/^[-.\w]+@[-\w]+(?:\.[a-z0-9A-Z]+)+$/" focus-if >
                  <div class="text-left" ng-show="password_recover_form.emailId.$invalid && (!password_recover_form.emailId.$pristine)">
                    <p class="help-block" ng-if="password_recover_form.emailId.$error.maxlength">
                    {{'ERR_MSG.EMAIL_TOO_LONG' | translate}}</p>
                    <p class="help-block" ng-if="password_recover_form.emailId.$error.pattern || password_recover_form.email.$error.emailId">
                    {{'ERR_MSG.VALID_EMAIL' | translate}}</p>
                  </div>
                </div>
                <div class="form-group m-b-0">
                  <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="password_recover_form.$invalid || !user_email">{{'BTN_SUBMIT'| translate}}
                  </button>
                </div>
                <div class="form-group m-b-0 text-center"> <a ng-href="/login" class="link-smxs-txt">{{'INPUT_TEXT.BACK_LOGIN' | translate}}</a> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>